# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore SQLite database
db.sqlite3

# Ignore Django migration files (optional)
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# Ignore IDE/editor configs
.idea/
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment variables file (if any)
.env
